body {
    background-color: azure;
}

.vertical {
    display: flex;
    flex-direction: column;
}
.horizontal {
    display: flex;
    flex-direction: row;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide {
    display: none;
}
#disconnect-btn {
    width: 8em;
    height: 2em;
    margin-right: 5em;
    font-size: 1.5em;

    background-color: cornflowerblue;
}
.sizetextinput {
    font-size: 1.5em;
    width: 10em;
    height: 2em
}
#graphdiv {
    width: 100%;
    height: 900px;
    margin-bottom: 50px;
}
.margedroite {
    margin-right: 50px;
}

/* #log {
    width: 5em;
    height: 2em;
    font-size: 1.5em;
} */